*{
  list-style: none;
padding: 0;
}


#nav-img {
      border-radius: 100%;
}

.navbar {
      padding: 1% 6% 0 15%;
      background-color: #ececf5 ! important;

}

.nav-item {
      padding: 0 20px;
}

.nav-link {
      font-size: 1.2rem;
      color: #6A98F0 !important;
}

.nav-link:hover{
      color:orange !important;
}


html, body {
      text-align: center;
      font-family: Helvetica;
      width: 100vw;
  height: 100vh;

}


h1,h2{
  color:   #66BFBF ;
   font-size: 3rem;

font-family: Poppins;
line-height: 1.45;
  
}

.top{
      
      height: 85.5vh;
      width:100vw;
      padding-top: 8%;
     background-image: url('536426.png');
     overflow: hidden;
     background-size: cover;
     background-position: center center;
     z-index: 0;
position: relative;
}

.top::before{
      content: "";
      width:100vw;
      height: 85.5vh;
      position: absolute;
      top:0;
      left: 0;
      z-index: -1;
      background: rgba(0,0,0,0.55);
}

.top h1,h2{
  color: white;   /* #66BFBF */
   font-size: 3rem;

font-family: Poppins;
line-height: 1.45;
  
}

.top p{
       color: white;   /* #66BFBF */
   font-size: 1.5rem;

font-family: Poppins;
line-height: 1.45;
  
}

.top table{
     margin:auto auto auto 10%;
     border: 1px solid transparent;
     color: white;
}

.middle{
      width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background: #ececf5;
}

@media screen and (max-width:960px) {
.middle{
  flex: 100%;
  max-width: 100%;
  height: 225vh;
 top:0%;

}
}



.btn{
      margin-top: 20px;
}



.about{
      height: 85vh;
      width: 100vw;
      background: black;
 }

@media screen and (max-width:960px) {
.about{
      position: relative;
  top:0%;
  background: black;
height: 214vh;
}
}




.testimonials{
  padding: 60px 0;
  /*   background   */
  color: #434343;
  text-align: center;
}

.inner1{
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 15px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial1{
  background: blue;
  padding: 40px;
}
.testimonial1 img{
  width: 200px;
  height: 200px;
  
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  color:yellow;
}

.testimonial2{
  background: yellow;
  padding: 30px;
  border-radius: 2%;
}
.testimonial2 img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.inner2{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;

}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

footer{ 
  color: #6A98F0 ;
    text-align: center;
    font-size: .8rem;
     background: black;
     height: 80px;
     padding-top: 20px;
}


p{
       color: black;   /* #66BFBF */
   font-size: 1.4rem;

font-family: Poppins;
line-height: 1.25;
  
}